<h1>Welcome to Art with a Heart</h1>
<p>Surf through paintings here according to artists or tags. You get a painting by donating a small amount to a NGO of your choice. Feel free to write to us at blah blah blah in case you have any questions</p>

<%= link_to "Sign up / Login", '/users/new', class:"btn btn-large btn-primary" %>
